<li class="wrapper" data-name="create">
    <button class="close" data-close="create">x</button>
    <div class="img_wrap">
        <img class="img" src="/" alt="" width="135px" />
        <input type="file" id="file" multiple />
    </div>
    <div class="content-wrap">
        <p>product name: </p>
        <input type="text" name="productName-create" id="productName" placeholder="enter product name..." />
    </div>
    <div class="content-wrap">
        <p>article: </p>
        <input type="text" name="article-create" id="article" placeholder="enter article..." />
    </div>
    <div class="content-wrap">
        <p>count: </p>
        <input type="text" name="count-create" id="count" placeholder="enter count..." />
    </div>
    <button id="create" name="create" disabled>create</button>
</li>