.banner {
    display: flex;
    justify-content: space-between;
    max-width: 930px;
    margin: 0 auto;
    // align-items: center;
    padding: 115px 45px 0;
    text-align: center;
    color: $main-color;
    &_title {
        font-size: 48px;
        text-transform: uppercase;
        font-weight: 600;
        padding-top: 35px;
    }
    &_text {
        font-size: 10px;
        line-height: 2;
        padding-top: 20px;
        margin-bottom: 27px;
    }
    &__button {
        background: transparent;
        border: 2px solid $main-color;
        color: $main-color;
        padding: 10px 30px;
        margin-bottom: 146px;
        font-size: 14px;
        text-transform: uppercase;
        transition: color 0.3s, border-color 0.3s;
        &:hover {
            cursor: pointer;
            color: $hover-color;
            border-color: $hover-color;
        }
    }
}

.arrow {
    width: 29px;
    height: 33px;
    padding-top: 100px;
}

.content {
    width: 538px;
    min-height: 205px;
    background-image: url(../images/title_border.png);
    background-repeat: no-repeat;
}