/*
 * Все паршалы импортировать в этот файл
 */

@import 'normalize';
@import 'base';
@import 'helpers/variables';
@import 'helpers/placeholder';
@import '_header';
.container {
    background-image: url(../images/header_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.header-wrap {
    margin: 0 auto;
    width: 930px;
    height: 552px;
    background-image: url(../images/header_img.png);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.logo {
    display: block;
}

.nav {
    @extend %list;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 720px;
}

.nav__link {
    @extend %link;
    color: $main-color;
    transition: color 0.3s;
    &:hover {
        color: $hover-color;
    }
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 115px 45px 0;
    text-align: center;
    color: $main-color;
    &_title {
        font-size: 48px;
        text-transform: uppercase;
        font-weight: 600;
        padding-top: 35px;
    }
    &_text {
        font-size: 10px;
        line-height: 2;
        padding-top: 20px;
        margin-bottom: 27px;
    }
    &__button {
        background: transparent;
        border: 2px solid $main-color;
        color: $main-color;
        padding: 10px 30px;
        margin-bottom: 146px;
        font-size: 14px;
        text-transform: uppercase;
        transition: color 0.3s, border-color 0.3s;
        &:hover {
            cursor: pointer;
            color: $hover-color;
            border-color: $hover-color;
        }
    }
}

.arrow {
    width: 29px;
    height: 33px;
}

.content {
    width: 538px;
    min-height: 205px;
    background-image: url(../images/title_border.png);
    background-repeat: no-repeat;
}

.about {
    display: flex;
    &-content {
        padding: 50px 45px;
    }
    &__title {
        margin-bottom: 30px;
        font-size: 24px;
        font-weight: 500;
        text-transform: uppercase;
        &:after {
            content: "";
            display: block;
            margin-top: 10px;
            height: 3px;
            width: 391px;
            background-image: url(../images/title-after_bg.png);
        }
    }
    &__text {
        margin-bottom: 20px;
        font-size: 11px;
        line-height: 1.8;
        font-weight: 700;
    }
    &__button {
        text-transform: uppercase;
        color: #fff;
        border-radius: 5px;
        padding: 7px 27px 10px;
        background-color: #05a0af;
        border: none;
        font-size: 9px;
        transition: box-shadow 0.3s;
        &:hover {
            box-shadow: 0 0 0 1px grey;
            cursor: pointer;
        }
    }
}

.services {
    text-align: center;
    text-transform: uppercase;
    background-color: #373737;
    color: #fff;
    &__title {
        position: relative;
        font-size: 40px;
        font-weight: 400;
        padding: 50px 0;
        &::before {
            content: "";
            display: inline-block;
            position: absolute;
            left: 20px;
            bottom: 55px;
            height: 3px;
            width: 305px;
            background-image: url(../images/services__before_bg.png);
        }
        &::after {
            content: "";
            display: inline-block;
            position: absolute;
            right: 20px;
            bottom: 55px;
            height: 3px;
            width: 305px;
            background-image: url(../images/services__after_bg.png);
        }
    }
    &-list {
        display: flex;
        background-color: #3d3d3d;
    }
    &__item {
        background-image: url(../images/services__item_bg.png);
        background-repeat: no-repeat;
        background-position: center top 135px;
        padding: 270px 20px 135px;
        &:hover {
            background-color: #097e89;
        }
    }
    &__text {
        text-transform: none;
        font-size: 14px;
        padding: 17px 0 30px;
    }
    &__button {
        text-transform: uppercase;
        color: #fff;
        border-radius: 3px;
        border: none;
        padding: 8px 25px;
        background-color: #959595;
        font-size: 12px;
        transition: box-shadow 0.3s;
        &:hover {
            box-shadow: 0 0 0 1px #fff;
            cursor: pointer;
        }
    }
}